@font-face {
    font-family: myFirstFont;
    src: url(/CSS/Poppins-Black.ttf);
  }

  h1{
    font-family: myFirstFont;
    text-decoration: underline;
  }

.about_content{
    margin-top: 50px;
    width: 100%;
    height:500px;
    background-color: darkblue;
    font-family: myFirstFont;
}

.sub_about1{
    float: right;
    width: 800px;
    height: 500px;
    background-image: url('/images/ranger.jpg');
    background-size: contain;
    background-position: center;
    }
    
    .sub_about2{
        width: 800px;
    height: 500px;
    background-color: #563F1B;
    color: white;
    
    }

    .about_text2{
        color: white;
    }