@font-face {
    font-family: myFirstFont;
    src: url(/CSS/Poppins-Black.ttf);
  }

  h1{
    font-family: myFirstFont;
    text-decoration: underline;
  }

.form_content{
    font-family: myFirstFont;
    margin-top: 50px;
    width: 100%;
    height:500px;
    
}

input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}